
body {
    color: white !important;
}

.hidden {
    display: none;
}

body .card {
    color: black !important;
}

.background_index {
    background-image: url('https://kingrespectcrypto.com/resources/images/background_index.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.t_white {
    color: white;
}

.display-none {
    display: none;
}

.f-left {
    float: left;
}

.d-inline {
    display: inline-block;
}

.m-top-1em {
    margin-top: 1em;
}

.p-1em {
    padding: 1em;
}

.m-right-1em {
    margin-right: 1em;
}

.bgc-transparent {
    background-color: transparent !important;
}

.m-left-0px {
    margin-left: 0px !important;
}

.m-left-1em {
    margin-left: 1em !important;
}

.m-top-12px {
    margin-top: 12px !important;
}

.m-top-9px {
    margin-top: 9px !important;
}

.log-out-height {
    height: 3.875em !important;
}

.logo {
    width: 100%;
    height: 80px;
    text-align: center;
    background-repeat: no-repeat;
    background-image: url(../resources/images/rostorei.png);
    background-size: inherit;
    background-position: center;
}

.material {
    width: 15%;
    height: 80px;
    text-align: center;
    background-image: url(../resources/images/fundoCima.png);
    background-size: contain;
}

.material img {
    margin-right: 8px;
}

.config {
    width: 9%;
    height: 80px;
    background-image: url(../resources/images/fundoCima.png);
    background-size: contain;
}

.deslogar {
    width: 7%;
    height: 80px;
    background-image: url(../resources/images/fundoCima.png);
    background-size: contain;
}

.quartos {
    width: 1000px;
    height: 400px;
    float: left;
}

.quarto {
    background-color: blueviolet;
    width: 250px;
    height: 200px;
    float: left;
    margin-right: 1em;
    margin-top: 1em;
    margin-left: 2.5em;
    cursor: pointer;
}

.tela-acao {
    width: 250px;
    height: 516px;
    margin-top: 5.5em;
    /* float: left; */
    background-image: url(../resources/images/fundo_acao.png);
    padding: 0.5em;
    position: fixed;
    margin-left: 60em;
}

.col-12 button {
    width: 90%;
    margin-left: 5%;
}

.adv1 {
    background-image: url(../resources/images/advertisehere.png);
}

.adv2 {
    background-image: url(../resources/images/advertisehere.png);
}

.adv3 {
    background-image: url(../resources/images/advertisehere.png);
}

.quartonv1 {
    background-image: url(../resources/images/quartonv0.png);
}

.quartonv2 {
    background-image: url(../resources/images/quartonv1.png);
}

.quartonv3 {
    background-image: url(../resources/images/quartonv2.png);
}

.quartonv4 {
    background-image: url(../resources/images/quartonv3.png);
}

.quartonv5 {
    background-image: url(../resources/images/quartonv4.png);
}

.quartonv6 {
    background-image: url(../resources/images/quartonv5.png);
}

.quartonv7 {
    background-image: url(../resources/images/quartonv6.png);
}

.quartonv8 {
    background-image: url(../resources/images/quartonv7.png);
}

.quartonv9 {
    background-image: url(../resources/images/quartonv8.png);
}

.quartonv10 {
    background-image: url(../resources/images/quartonv9.png);
}

.quartonovo {
    background-image: url(../resources/images/quartoquebrado.png);
}

.cozinhanv0 {
    background-image: url(../resources/images/cozinhanv1.png);
}

.cozinhanv1 {
    background-image: url(../resources/images/cozinhanv2.png);
}

.cozinhanv2 {
    background-image: url(../resources/images/cozinhanv3.png);
}

.cozinhanv3 {
    background-image: url(../resources/images/cozinhanv4.png);
}

.cozinhanv4 {
    background-image: url(../resources/images/cozinhanv5.png);
}

.cozinhanv5 {
    background-image: url(../resources/images/cozinhanv6.png);
}

.cozinhanv6 {
    background-image: url(../resources/images/cozinhanv7.png);
}

.cozinhanv7 {
    background-image: url(../resources/images/cozinhanv8.png);
}

.cozinhanv8 {
    background-image: url(../resources/images/cozinhanv9.png);
}

.cozinhanv9 {
    background-image: url(../resources/images/cozinhanv10.png);
}

.armazem {
    background-image: url(../resources/images/armazem.png);
}

.personagem {
    width: 64px;
    height: 64px;
    margin-left: 7em;
    margin-top: 8em;
}

.minerador {
    background-image: url(../resources/images/pmineiro1baixo.png);
}

.lenhador {
    background-image: url(../resources/images/plenhador1baixo.png);
}

.aventureiro {
    background-image: url(../resources/images/paventureiro1baixo.png);
}

.pescador {
    background-image: url(../resources/images/peixeiro1baixo.png);
}

.pescadorpescando {
    background-image: url(../resources/images/peixeiro1baixo.png);
    margin-left: 7em;
    margin-top: 4em;
}

.mineradordormindo {
    background-image: url(../resources/images/pmineirodormindo.png);
    margin-left: 11.2em;
    margin-top: 6.5em;
}

.lenhadordormindo {
    background-image: url(../resources/images/plenhadordormindo.png);
    margin-left: 11.2em;
    margin-top: 6.5em;
}

.aventureirodormindo {
    background-image: url(../resources/images/paventureirodormindo.png);
    margin-left: 11.2em;
    margin-top: 6.5em;
}

.pescadordormindo {
    background-image: url(../resources/images/peixeirodormindo.png);
    margin-left: 11.2em;
    margin-top: 6.5em;
}

.mineradordormindotrabalhando {
    background-image: url(../resources/images/pmineirodormindo.png);
}

.lenhadordormindotrabalhando {
    background-image: url(../resources/images/plenhadordormindo.png);
}

.aventureirodormindotrabalhando {
    background-image: url(../resources/images/paventureirodormindo.png);
}

.pescadorpescandodormindotrabalhando {
    background-image: url(../resources/images/peixeirodormindo.png);
    margin-left: 7em;
    margin-top: 4em;
}

.cortarmadeira {
    background-image: url(../resources/images/cortarmadeira.png);
}
.pescar {
    background-image: url(../resources/images/pescar.png);
}
.mineirar {
    background-image: url(../resources/images/mineirar.png);
}
.cacarmonstros {
    background-image: url(../resources/images/cacarmonstros.png);
}

.tutorial {
    display: block;
    width: 800px;
    height: 500px;
    position: fixed;
    margin-left: 1em;
    margin-top: 1em;
}

.back_tutorial0 {
    background-image: url(../resources/images/tutorial0.png);
}
.back_tutorial1 {
    background-image: url(../resources/images/tutorial1.png);
}
.back_tutorial1_5 {
    background-image: url(../resources/images/tutorial1_5.png);
}
.back_tutorial2 {
    background-image: url(../resources/images/tutorial2.png);
}
.back_tutorial3 {
    background-image: url(../resources/images/tutorial3.png);
}
.back_tutorial4 {
    background-image: url(../resources/images/tutorial4.png);
}

.bt_tutorial {
    display: block;
    width: 150px;
    height: 50px;
    position: fixed;
    margin-top: 28em;
    margin-left: 20em;
}

.tutorial_click1 {
    display: none;
    width: 512px;
    height: 262px;
    position: fixed;
    margin-left: 18em;
    margin-top: 3.5em;
    background-image: url(../resources/images/tutorial_click_servo.png);
}

.tutorial_click2 {
    display: none;
    width: 512px;
    height: 262px;
    position: fixed;
    margin-left: 29em;
    margin-top: 5em;
    background-image: url(../resources/images/tutorial_click_work.png);
}

.tutorial_click3 {
    display: block;
    width: 512px;
    height: 262px;
    position: fixed;
    margin-left: -51em;
    margin-top: -17em;
    z-index: 1;
    background-image: url(../resources/images/tutorial_click_continue_work.png);
}

.tutorial_click4 {
    display: block;
    width: 512px;
    height: 262px;
    position: fixed;
    margin-left: -44em;
    margin-top: -19em;
    background-image: url(../resources/images/tutorial_aviso_final.png);
}

.btn-primary {
    background-color: #004794 !important;
}