
.background_index {
    background-image: url('https://kingrespectcrypto.com/resources/images/background_index.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.t_white {
    color: white;
}

.display-none {
    display: none;
}
