
body {
    color: white !important;
}

body .card {
    color: black !important;
}

.background_index {
    background-image: url('https://kingrespectcrypto.com/resources/images/background_index.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.t_white {
    color: white;
}

.display-none {
    display: none;
}

.f-left {
    float: left;
}

.d-inline {
    display: inline-block;
}

.m-top-1em {
    margin-top: 1em;
}

.p-1em {
    padding: 1em;
}

.m-right-1em {
    margin-right: 1em;
}

.bgc-transparent {
    background-color: transparent !important;
}

.m-left-0px {
    margin-left: 0px !important;
}

.m-left-1em {
    margin-left: 1em !important;
}

.m-top-12px {
    margin-top: 12px !important;
}

.logo {
    width: 100%;
    height: 80px;
    text-align: center;
    background-repeat: no-repeat;
    background-image: url(../resources/images/rostorei.png);
    background-size: inherit;
    background-position: center;
}

.material {
    width: 15%;
    height: 80px;
    text-align: center;
    background-image: url(../resources/images/fundoCima.png);
    background-size: contain;
}

.material img {
    margin-right: 8px;
}

.config {
    width: 9%;
    height: 80px;
    background-image: url(../resources/images/fundoCima.png);
    background-size: contain;
}

.deslogar {
    width: 7%;
    height: 80px;
    background-image: url(../resources/images/fundoCima.png);
    background-size: contain;
}

.quartos {
    width: 1000px;
    height: 400px;
    float: left;
}

.quarto {
    background-color: blueviolet;
    width: 250px;
    height: 200px;
    float: left;
    margin-right: 1em;
    margin-top: 1em;
    margin-left: 2.5em;
    cursor: pointer;
}

.tela-acao {
    width: 250px;
    height: 516px;
    margin-top: 5.5em;
    /* float: left; */
    background-image: url(../resources/images/fundo_acao.png);
    padding: 1em;
    position: fixed;
    margin-left: 60em;
}

.col-12 button {
    width: 90%;
    margin-left: 5%;
}

.adv1 {
    background-image: url(../resources/images/advertisehere.png);
}

.adv2 {
    background-image: url(../resources/images/advertisehere.png);
}

.adv3 {
    background-image: url(../resources/images/advertisehere.png);
}

.quartonv1 {
    background-image: url(../resources/images/quartonv0.png);
}

.quartonv2 {
    background-image: url(../resources/images/quartonv1.png);
}

.quartonv3 {
    background-image: url(../resources/images/quartonv2.png);
}

.quartonv4 {
    background-image: url(../resources/images/quartonv3.png);
}

.quartonv5 {
    background-image: url(../resources/images/quartonv4.png);
}

.quartonv6 {
    background-image: url(../resources/images/quartonv5.png);
}

.quartonv7 {
    background-image: url(../resources/images/quartonv6.png);
}

.quartonv8 {
    background-image: url(../resources/images/quartonv7.png);
}

.quartonv9 {
    background-image: url(../resources/images/quartonv8.png);
}

.quartonv10 {
    background-image: url(../resources/images/quartonv9.png);
}

.quartonovo {
    background-image: url(../resources/images/quartobranco.png);
}

.cozinhanv1 {
    background-image: url(../resources/images/cozinhanv1.png);
}

.cozinhanv2 {
    background-image: url(../resources/images/cozinhanv2.png);
}

.cozinhanv3 {
    background-image: url(../resources/images/cozinhanv3.png);
}

.cozinhanv4 {
    background-image: url(../resources/images/cozinhanv4.png);
}

.cozinhanv5 {
    background-image: url(../resources/images/cozinhanv5.png);
}

.cozinhanv6 {
    background-image: url(../resources/images/cozinhanv6.png);
}

.cozinhanv7 {
    background-image: url(../resources/images/cozinhanv7.png);
}

.cozinhanv8 {
    background-image: url(../resources/images/cozinhanv8.png);
}

.cozinhanv9 {
    background-image: url(../resources/images/cozinhanv9.png);
}

.cozinhanv10 {
    background-image: url(../resources/images/cozinhanv10.png);
}

.armazem {
    background-image: url(../resources/images/armazem.png);
}

.personagem {
    width: 64px;
    height: 64px;
    margin-left: 7em;
    margin-top: 8em;
}

.minerador {
    background-image: url(../resources/images/pmineiro1baixo.png);
}

.lenhador {
    background-image: url(../resources/images/plenhador1baixo.png);
}

.aventureiro {
    background-image: url(../resources/images/paventureiro1baixo.png);
}

.pescador {
    background-image: url(../resources/images/peixeiro1baixo.png);
}

.pescadorpescando {
    background-image: url(../resources/images/peixeiro1baixo.png);
    margin-left: 7em;
    margin-top: 4em;
}

.mineradordormindo {
    background-image: url(../resources/images/pmineirodormindo.png);
    margin-left: 11.2em;
    margin-top: 6.5em;
}

.lenhadordormindo {
    background-image: url(../resources/images/plenhadordormindo.png);
    margin-left: 11.2em;
    margin-top: 6.5em;
}

.aventureirodormindo {
    background-image: url(../resources/images/paventureirodormindo.png);
    margin-left: 11.2em;
    margin-top: 6.5em;
}

.pescadordormindo {
    background-image: url(../resources/images/peixeirodormindo.png);
    margin-left: 11.2em;
    margin-top: 6.5em;
}

.mineradordormindotrabalhando {
    background-image: url(../resources/images/pmineirodormindo.png);
}

.lenhadordormindotrabalhando {
    background-image: url(../resources/images/plenhadordormindo.png);
}

.aventureirodormindotrabalhando {
    background-image: url(../resources/images/paventureirodormindo.png);
}

.pescadorpescandodormindotrabalhando {
    background-image: url(../resources/images/peixeirodormindo.png);
    margin-left: 7em;
    margin-top: 4em;
}

.cortarmadeira {
    background-image: url(../resources/images/cortarmadeira.png);
}
.pescar {
    background-image: url(../resources/images/pescar.png);
}
.mineirar {
    background-image: url(../resources/images/mineirar.png);
}
.cacarmonstros {
    background-image: url(../resources/images/cacarmonstros.png);
}